*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 248, 245);
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    /* background-color: rgb(183, 253, 230); */
}

.right{
    width: 50%;
    height: auto;
    padding: 90px 44px 21px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* hero-heading */
.hero-heading{
    /* color: #2a7a5b; */
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 90px;
}

/* hero paragraph */
.hro-pra{
    font-size: 1.2rem;
    margin-bottom: 30px;
    padding-right: 90px;
    line-height: 1.5;
}

/* get-str */
.get-str{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #59f797;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

/* learn-more */
.learn-more{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #a8f7c8;
    background-color: white;
    border: 2px solid #b0f8cd;
    border-radius: 5px;
    cursor: pointer;
}



/* left box */

.left{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}


.hro-img img{
    width: 600px;
    height: auto;
}   

/*  Our Facilities */

.services-section {
    
    margin-top: 90px;
    text-align: center;
    padding: 60px 20px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #1e1e1e;
}

.section-subtitle {
    margin: 10px auto 40px;
    max-width: 650px;
    font-size: 16px;
    color: #666;
}

/* Cards Layout */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.service-card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

/* Icon */
.icon-circle {
    width: 70px;
    height: 70px;
    background: #e7f0ff;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle.green {
    background: #dff7e4;
}

.icon-circle img {
    width: 35px;
    height: 35px;
}

/* Titles */
.service-card h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1e;
}

.service-card p {
    margin: 12px 0 20px;
    font-size: 15px;
    color: #555;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.blue-btn {
    background: #2d7ff9;
}

.blue-btn:hover {
    background: #1a6ad6;
}

.green-btn {
    background: #21a36b;
}

.green-btn:hover {
    background: #1d8b5b;
}


